#articles
  - for article in current_user.reader.article_feed
    .article
      %h3
        %a{href: '#'}
          = raw(article.blog.name)
          \-
          = raw(article.title)
      .guts
        %p{style: "color:red"}= article.blog.name
        = article.published_at
        = link_to article.url, article.url
        = raw(article.content)

/ %h1 Import Greader
/ %form{}
/   Email:
/   %input{:type => 'text', :name => 'email'}
/   Password:
/   %input{:type => 'password', :name => 'password'}
/   %a{:id => 'greader-link', :href => '#'} Go!