#articles
  - for article in @article_feed
    - article
    .article.unread
      %h3
        %a.title{href: '#'}
          = raw(article['blog_name'])
          \-
          = raw(article['title'])
      .guts
        = distance_of_time_in_words_to_now(article['published_at'])
        ago
        = link_to(article['url'], article['url'])
        = raw(article['content'])